@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.zoom-15 {
		zoom: 0.15;
	}
	.zoom-20 {
		zoom: 0.2;
	}
	.zoom-25 {
		zoom: 0.25;
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@property --scroll-position {
	syntax: '<number>';
	inherits: true;
	initial-value: 0;
}

@keyframes adjust-pos {
	to {
		--scroll-position: 100;
	}
}

:root {
	animation: adjust-pos 3s linear both;
	animation-timeline: scroll();
}

.toTopBox {
	counter-reset: scroll-position calc(var(--scroll-position) * 1);
}

@container style(--scroll-position: 0) {
	.toTopBox {
		display: none;
	}
}

* {
	scrollbar-width: none;
}

html {
	scroll-behavior: smooth;
	font-weight: 400;
	color: #3a4a5a;
	font-family: 'Source Sans Pro', 'Hiragino Sans GB', 'Microsoft Yahei', SimSun, Helvetica, Arial, Sans-serif, monospace !important;

	transition: --scroll-position 0.15s linear;
	[data-id='--scroll-position']::before {
		font-size: medium;
		content: counter(scroll-position);
	}
}

body {
	:is(.dark *) {
		color: rgba(255, 255, 255, 0.7);
	}
}
