@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .zoom-25 {
            zoom: 0.25;
        }
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}
svg {
    color: unset !important;
}
body {
    font-weight: 400;
    color: #3a4a5a;
    font-family: 'Source Sans Pro', 'Hiragino Sans GB', 'Microsoft Yahei', SimSun, Helvetica, Arial, Sans-serif,
        monospace !important;
    scrollbar-width: thin;
    :is(.dark *) {
        color: rgba(255, 255, 255, 0.7);
    }
}

:root {
    --color-mode: 'light';
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
    }
}

/* @media (prefers-color-scheme: dark) {
    html {
        filter: invert(1) hue-rotate(180deg);
        transition: color 300ms, background-color 300ms;
    }
    html img {
        filter: invert(1) hue-rotate(180deg);
    }
} */
